<div>
<div layout="row" layout-align="center center">
	<md-progress-circular hide id="createUserCircle" md-mode="indeterminate"></md-progress-circular>
</div>
<div id="error-sub-title" style="text-align:center; color:red;">
	{{error}}
</div>
<div class="list card no-margin">
	<ion-input class="item item-input item-stacked-label" >
		<ion-label >Email</ion-label>
		<input type="email" placeholder="Your email..." ng-model="newUser.email">
	</ion-input>

	<ion-input class="item item-input item-stacked-label" >
		<ion-label >Password</ion-label>
		<input type="password" placeholder="Your Password..." ng-model="newUser.password">
	</ion-input>

  <ion-input class="item item-input item-stacked-label" >
		<ion-label >Password</ion-label>
		<input type="password" placeholder="Re-enter Password..." ng-model="newUser.secondPassword">
	</ion-input>
</div>
</div>
