<body>
<div class="card dialogCard">
	<div class="item item-divider">
          Plant ID
	</div>
	<label class="item">
		{{info.id}}
	</label>
</div>
<div class="card dialogCard">
	<div class="item item-divider">
          Started
	</div>
	<label class="item">
		{{info.updates[0].updated | date:"mediumDate"}}
	</label>
</div>
<div class="card dialogCard">
	<div class="item item-divider">
          Location: {{info.x | number: 2}}cm, {{info.y | number: 2}}cm
	</div>
	<label class="item-input">
		<span class="input-label">X:</span>
		{{info.x}}
	</label>
	<label class="item-input">
		<span class="input-label">Y:</span>
		{{info.y}}
	</label>
</div>
<div class="card dialogCard">
	<div class="item item-divider">
          Depth
	</div>
	<label class="item">
		{{info.depth}}
	</label>
</div>
<div class="card dialogCard">
	<div class="item item-divider">
          Surface Prep
	</div>
	<label class="item">
		{{info.surfacePrep}}
	</label>
</div>
<div class="card dialogCard">
	<div class="item item-divider">
          Parentage
	</div>
	<label class="item">
		{{info.parentage}}
	</label>
</div>
<div class="card dialogCard">
	<div class="item item-divider">
					Health
	</div>
	<label class="item">
		{{healths[info.updates[0].health - 1].health}}
	</label>
</div>
<div class="card dialogCard">
	<div class="item item-divider">
					Number of Shoots
	</div>
	<label class="item">
		{{info.updates[0].shoots}}
	</label>
</div>
<div>
	<div class="card dialogCard">
		<div class="item item-divider">
	          Present
		</div>
		<ion-radio ng-model="info.updates[info.updates.length - 1].present" ng-repeat="item in prep" ng-value="item" name="present">{{item}}</ion-radio>
	</div>
</div>
<div ng-show="info.updates[info.updates.length - 1].present === 'Yes'">
	<div class="card dialogCard">
		<div class="item item-divider">
	          Height (cm)
		</div>
		<label class="item item-input">
			<input type="number" placeholder="Plant Height" name="number" ng-model="info.updates[info.updates.length - 1].height">
		</label>
	</div>
	<div class="card dialogCard">
		<div class="item item-divider">
	          Number of Leaves
		</div>
		<label class="item item-input">
			<input type="number" placeholder="Number of Leaves" name="number" ng-model="info.updates[info.updates.length - 1].leaves">
		</label>
	</div>
	<div class="card dialogCard" ng-show="info.updates[info.updates.length - 1].leaves > 0">
		<div class="item item-divider">
	          Lowest Leaf
		</div>
		<label class="item item-input">
			<span class="input-label">Width (cm):</span>
			<input type="number" placeholder="Number of Leaves" name="number" ng-model="info.updates[info.updates.length - 1].lowestLeafWidth">
		</label>
		<label class="item item-input">
			<span class="input-label">Length (cm):</span>
			<input type="number" placeholder="Number of Leaves" name="number" ng-model="info.updates[info.updates.length - 1].lowestLeafLength">
		</label>
	</div>
</div>
<div class="card dialogCard">
	<div class="item item-divider">
          Additional Comments
	</div>
	<label class="item item-input">
		<textarea placeholder="Additional Comments">{{info.updates[info.updates.length - 1].comment}}</textarea>
	</label>
</div>
</body>
