<div layout="row" layout-align="center center">
	<h2>Reset Password</h2>
</div>
<div id="error-sub-title" style="text-align:center; color:red;">
	{{error}}
</div>
<div class="list card no-margin">
	<ion-input class="item item-input item-stacked-label" >
		<ion-label >Email</ion-label>
		<input type="email" name="email" placeholder="Your email..." ng-model="email">
	</ion-input>

	<div layout="row" layout-align="center center">
		<button class="button button-full" ng-click="cancel()">Cancel</button>
		<button class="button button-full button-positive" ng-click="resetPassword(email)">Send</button>
	</div>
</div>
