<ion-view view-title="Grid" class="centerMax">
	<ion-content>
	<div class="alignCenter">
		<div class="highchartsTitle">Plants on Plot {{plotNumber}}</div>
		<div class="highchartsSubtitle">
			<select class="borderless" name="quadrantSelect" id="quadrantSelect" 
				ng-options="option.name for option in scopes track by option.id"
				ng-model="selectedScope"
				ng-change="updatePlotScope(selectedScope)">
			</select>
			<!--
			on
			<select class="borderless" name="dateSelect" id="dateSelect"
				ng-options="option.updated for option in entries"
				ng-model="entries[0]">
			</select>
			-->
		</div>
		<div id="grid" style="min-width: 300px; margin: 0 auto"></div>
	</div>
	</ion-content>
</ion-view>