<ion-view view-title="Graph" class="centerMax">
  <ion-content>
	<div class="alignCenter">
		<label class="item item-input item-select">
			<div class="input-label">
				Select a Graph
			</div>
			<select class="borderless" name="graphSelect" id="graphSelect"
				ng-options="graph for graph in graphs"
				ng-model="selectedGraph"
				ng-change="loadGraph(selectedGraph)">
			</select>
		</label>
    <canvas id="line" class="chart chart-line" chart-data="data"
      chart-labels="labels" chart-series="series" chart-options="options">
    </canvas
	</div>
  </ion-content>
</ion-view>
