<ion-view view-title="Graph" style="width: 100%">
  <ion-content>
	<div class="alignCenter">
		<label class="item item-input item-select">
			<div class="input-label">
				Select a Graph
			</div>
			<select class="borderless" name="graphSelect" id="graphSelect"
				ng-options="graph for graph in graphs"
				ng-model="selectedGraph"
				ng-change="loadGraph(selectedGraph)">
			</select>
		</label>
    <div layout="row" layout-align="center center">
      <canvas class="chart chart-bar" style="max-width: 1000px; padding-right: 10px;" chart-data="data"
        chart-labels="labels" chart-series="series" chart-options="options">
      </canvas>
    </div>
	</div>
  </ion-content>
</ion-view>
