<ion-view view-title="Status" class="centerMax">
  <ion-content class="padding">
    <h2 layout="row" layout-align="start center" style="margin:0;">
      <div flex>Plot #{{plot.number}}</div>
      <button class="button button-dark button-outline icon ion-camera" style="margin-right:10px;" ng-show="(mobile && !authRequired)" ng-disabled="!plot" ng-click="takePicture()"></button>
      <button class="button button-dark button-outline icon ion-android-download" ng-disabled="!plot" ng-click="download()"></button>
    </h2>
  	<div class="card">
      <div class="item item-divider">
          Location and Time
      </div>
  		<div class="item item-text-wrap">
  			Location: {{plot.location.latitude}}, {{plot.location.longitude}}<br>
  			Last Updated: {{plot.updated | date:"mediumDate"}}<br>
  			Plot Started: {{plot.started | date:"mediumDate"}}
  		</div>
  	</div>
  	<div class="card">
      <div layout="row" layout-align="start center" class="item item-divider">
          Plot Summary
      </div>
      <div layout="row" class="item item-text-wrap">
        <div flex="33">
    			Soil pH: {{plot.ph}}<br>
    			Soil Moisture: {{plot.moisture}}%<br>
    			Light: {{plot.light}}%
    		</div>
        <div flex>
          <!-- Picture -->
        </div>
      </div>
  	</div>
  	<div class="card">
      <div class="item item-divider">
          Plant Summary
      </div>
  		<div class="item item-text-wrap">
  			<div>Plant Count: {{plantCount}}/{{plot.plants.length}}</div>
  			<div>Growth/Decay Rate: N.A.</div>
  		</div>
  	</div>
    <!--<div class="card">
      <div class="item item-divider">
          Picture
      </div>
  		<div class="item item-text-wrap">
  			<div></div>
  		</div>
  	</div>-->
  </ion-content>
</ion-view>
