<ion-view view-title="Grid" class="centerMax">
	<ion-content>
	<div class="alignCenter">
		<div class="highchartsTitle">Plants on Plot {{plotNumber}}</div>
		<div class="highchartsSubtitle">
			<!--
			From:
			<select class="borderless" name="startYearSelect" id="startYearSelect"
				ng-options="year for year in startYears"
				ng-model="startYear">
			</select>
			To:
			<select class="borderless" name="endYearSelect" id="endYearSelect"
				ng-options="year for year in endYears"
				ng-model="endYear">
			</select>
			-->
			<div>
				<select class="borderless" name="quadrantSelect" id="quadrantSelect"
					ng-options="option.name for option in scopes track by option.id"
					ng-model="selectedScope"
					ng-change="updatePlotScope(selectedScope)">
				</select>
			</div>
		</div>
		<div layout="row" layout-align="center center">
			<div id="grid" style="min-width: 300px; margin: 0 auto"></div>
		</div>
	</div>
	</ion-content>
</ion-view>
