<ion-view view-title="Grid" style="width: 100%">
	<ion-content>
	<div class="alignCenter">
		<div class="highchartsTitle">Plants on Plot {{Number(plotNumber) + 1}}</div>
		<div class="highchartsSubtitle">
			<!--
			From:
			<select class="borderless" name="startYearSelect" id="startYearSelect"
				ng-options="year for year in startYears"
				ng-model="startYear">
			</select>
			To:
			<select class="borderless" name="endYearSelect" id="endYearSelect"
				ng-options="year for year in endYears"
				ng-model="endYear">
			</select>
			-->
			<div>
				<select class="borderless" name="quadrantSelect" id="quadrantSelect"
					ng-options="option.name for option in scopes track by option.id"
					ng-model="selectedScope"
					ng-change="updatePlotScope(selectedScope)">
				</select>
			</div>
		</div>
		<div layout="row" layout-align="center center">
			<div id="grid" style="width: 95%; max-width:600px; min-width: 300px; min-height: 350px;"></div>
		</div>
	</div>
	</ion-content>
</ion-view>
